[defaults]

inventory = inventory.ini
log_path = /var/log/ansible.log  
# ask_vault_pass = true
vault_password_file = ~/.ansible/.mysql_vault 
# we created one filein this location and saved the password key that is we used to create the MYQL_ROOT_PASSWORD: 
# if MYSQL_ROOT_PASSWORD: **** to decrypt this we ned=ed key that key we stored in ansible locaton

forks = 8 #to connects the 8 servers at a time if SERIALS = 5 parlell  running first  complete tasks then remainig 3 taken , this used at troboshop.yaml 
            # if we THROTTLE:2 then it ready the 2 servers first completely then again take 2 but this is used at tasks